platforms/android/.gradle
platforms/android/.idea
platforms/android/.idea/*.xml
build
node_modules
platforms/android/cordova/node_modules
platforms/android/assets
platforms/android/CordovaLib/.classpath
platforms/android/*.iml
